<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="Freeket" name="description">
    <meta content="Alberto Angulo Lucerón" name="author">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{% block title %}Freeket{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'freeketapp/logopest.png' %}">

    {% load static %}
    <link href="{% static 'freeketapp/jquery.timepicker.css' %}" rel="stylesheet">

    {% load static %}
    <link href="{% static 'freeketapp/style.css' %}" rel="stylesheet" type="text/css">

    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


</head>
<body>

{% block header %}

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom py-2">
    <div class="clearfix-xs">
        <button aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarColor02" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <a href={% url 'index' %} class="navbar-brand navbar-left">
                <!-- Logo Image -->
                {% load static %}
                <img src="{% static 'freeketapp/logo5.png' %}" width="120" alt=""
                    class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
            </a>
    <form class="mx-2 d-inline w-50" action="/eventos/" method="get">

        <div class="input-group form-rounded has-search">

            <input class="form-control form-rounded" id="busqueda" name = "titulo" placeholder="Busca tu evento" type="text">
            <span class="fa fa-search form-control-feedback"></span>

        </div>


    </form>


    <div class="collapse navbar-collapse " id="navbarColor02">


        <ul class="navbar-nav d-lg-flex align-items-center nav-fill ml-auto mr-1 my-1">
            {% if islogged == 'y' %}

            {% if profile == 'org' %}
            <li class="nav-item">
                <a href={% url 'crear_evento' %}>
                    <button class="btn btn-outline-light my-2 mx-2 my-sm-0" type="button"><strong>Crear evento</strong></button>
                </a>
            </li>
            <li class="nav-item">
                <a href={% url 'gestionar_eventos' %}>
                <button class="btn btn-outline-light my-2 mx-2 my-sm-0" type="button"><strong>Gestionar eventos</strong></button>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href={% url 'misentradas' %}>
                <button class="btn btn-outline-light my-2 mx-2 my-sm-0" type="button"><strong>Mis entradas</strong></button>
                </a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#" id="dropacciones">
                    Hola, {{ name }}
                </a>
                <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href={% url 'mi_perfil' %}>Mi perfil</a>
                    <div class="dropdown-divider"></div>

                    {% if profile == 'org' and not assist %}
                    <a class="dropdown-item" href={% url 'registro_asistente' %}>Regístrate como asistente</a>
                    {% elif profile == 'org' and assist %}
                    <a class="dropdown-item" href={% url 'perfil_asistente' %}>Cambiar a modo asistente</a>
                    {% elif profile == 'assist' and not org %}
                    <a class="dropdown-item" href={% url 'registro_organizador' %}>Regístrate como organizador</a>
                    {% else %}
                    <a class="dropdown-item" href={% url 'perfil_organizador' %}>Cambiar a modo organizador</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href={% url 'cerrar_sesion' %}>Cerrar sesión</a>
                </div>
            </li>


            {% else %}
            <li class="nav-item">
                <a href="/login/">
                    <button class="btn btn-outline-light my-2 mx-2 my-sm-0" type="button"><strong>Inicia sesión</strong></button>
                </a>
            </li>
            <li class="nav-item">
                <a href="/registro/">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="button"><strong>Regístrate</strong></button>
                </a>
            </li>
            {% endif %}
        </ul>


    </div>
</nav>
{% endblock %}

{% block contenido %}

<div id="replaceable-content">

</div>
{% endblock %}



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://use.fontawesome.com/27d78594d9.js"></script>
{% load static %}
<script src="{% static 'freeketapp/jquery.timepicker.js' %}"></script>

{% load static %}
<script src="{% static 'freeketapp/scripts.js' %}"></script>
</body>
</html>