<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="Freeket" name="description">
    <meta content="Alberto Angulo Lucerón" name="author">

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <title>{% block title %}Freeket{% endblock %}</title>

    {% load static %}
    <link href="{% static 'freeketapp/jquery.timepicker.css' %}" rel="stylesheet">

    {% load static %}
    <link href="{% static 'freeketapp/style.css' %}" rel="stylesheet" type="text/css">

    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


</head>
<body>

{% block header %}

<nav class="navbar navbar-expand-lg navbar-dark py-2">
    <div class="clearfix-xs">
        <button aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarColor02" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <a class="navbar-brand" href="/">Freeket</a>

    <form class="mx-2 d-inline w-50">

        <div class="input-group form-rounded">
            <input class="form-control form-rounded" id="busqueda" placeholder="Busca tu evento" type="text">
            <div class="input-group-append">

            </div>
        </div>
    </form>


    <div class="collapse navbar-collapse " id="navbarColor02">


        <ul class="navbar-nav d-lg-flex align-items-center nav-fill ml-auto mr-1 my-1">
            {% if islogged == 'y' %}
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#" id="dropacciones">
                    Hola, {{ name }}
                </a>
                <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href={% url 'mi_perfil' %}>Mi perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href={% url 'misentradas' %}>Mis entradas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href={% url 'crear_evento' %}>Crear evento</a>
                    <a class="dropdown-item" href={% url 'gestionar_eventos' %}>Gestionar eventos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href={% url 'cerrar_sesion' %}>Cerrar sesión</a>
                </div>
            </li>

            {% else %}
            <li class="nav-item">
                <a href="/login/">
                    <button class="btn btn-outline-success my-2 mx-2 my-sm-0" type="button">Inicia sesión</button>
                </a>
            </li>
            <li class="nav-item">
                <a href="/registro/">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button">Regístrate</button>
                </a>
            </li>
            {% endif %}
        </ul>


    </div>
</nav>
{% endblock %}

{% block contenido %}
{% endblock %}




<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% load static %}
<script src="{% static 'freeketapp/jquery.timepicker.js' %}"></script>

{% load static %}
<script src="{% static 'freeketapp/scripts.js' %}"></script>
</body>
</html>