{% extends "freeketapp/base.html" %}

{% block contenido %}

<div class="container">
<form action={% url 'forgot_password_form' %} method="post">
{% csrf_token %}

    <div class="form-group">
            <label for="email">Email address: *</label>
            <input class="form-control" id="email" name="email"
                   type="email">
    </div>
    {% if texto is not None %}
    <p>{{ texto }}</p>
    {% endif %}
    <button class="btn btn-primary float-right" type="submit">Enviar email</button>

</form>
</div>
{% endblock %}