{% extends "freeketapp/gestionar_eventos_evento.html" %}

{% block pagina %}

<div class="container">
    <form action="/gestionar-eventos/{{ id_evento }}/notificacion/" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="notaInformativa">Puedes dejar una nota informativa que se enviará automáticamente a los asistentes al evento</label>
            <textarea class="form-control" id="notaInformativa" name = "notaInformativa" rows="4"></textarea>
        </div>

        <button class="btn btn-primary float-right" id="btnCrearEvento" type="submit">Enviar notificación</button>
    </form>

    {% for i in errores %}
    <p>{{ i }}</p>
    {% endfor %}
    {% if enviado %}
    <p>Notificación enviada correctamente. Los asistentes recibirán tu mensaje.</p>
    {% endif %}
</div>

{% endblock %}