{% extends "freeketapp/base.html" %}

{% block contenido %}
<div class="row rowStats">
    <div class="col-md-2 px-0 panelGest">


                <a href="/gestionar-eventos/{{ id_evento }}">
                <button class="btn btn-outline-light btnSide {{ e_active }}" style="width:100%"><strong>ESTADÍSTICAS</strong></button>
                </a>

                <a href="/gestionar-eventos/{{ id_evento }}/asistentes">
                <button class="btn btn-outline-light btnSide {{ l_active }}" style="width:100%"><strong>LISTA DE ASISTENTES</strong></button>
                </a>

                <a href="/gestionar-eventos/{{ id_evento }}/modificar">
                <button class="btn btn-outline-light btnSide {{ m_active }}" style="width:100%"><strong>MODIFICAR INFORMACIÓN</strong></button>
                </a>

                <a href="/gestionar-eventos/{{ id_evento }}/notificacion">
                <button class="btn btn-outline-light btnSide {{ n_active }}" style="width:100%"><strong>ENVIAR NOTIFICACIÓN A LOS ASISTENTES</strong></button>
                </a>

                <a href="/gestionar-eventos/{{ id_evento }}/cancelar-evento">
                <button class="btn btn-outline-light btnSide {{ c_active }}" style="width:100%"><strong>CANCELAR EVENTO</strong></button>
                </a>

    </div>
    {% block pagina %}
    <div class="col-md-10 contStats">


        <div class ="row">
            <div class="col-md-3 text-center divStat">
                <div class="form-group">

                    <label><strong>Nº de entradas totales:</strong></label>
                    <p>{{ n_entradas_inicial }}</p>

                </div>
            </div>
            <div class="col-md-3 text-center divStat">
                <div class="form-group">

                    <label><strong>Nº de entradas restantes:</strong></label>
                    <p>{{ n_entradas }}</p>

                </div>
            </div>
            <div class="col-md-3 text-center divStat">
                <div class="form-group">

                    <label><strong>Nº de entradas adquiridas:</strong></label>
                    <p>{{ n_entradas_adquiridas }}</p>

                </div>
            </div>
            <div class="col-md-3 text-center divStat">
                <div class="form-group">

                <label><strong>Número de visitas al evento:</strong></label>
                <p>{{ visitas }}</p>
            </div>
            </div>

        </div>
        <div class ="row">
            <div class="col-md-12">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
            <div class="container canvCont">
                <div class="box boxChart">
                    <canvas id="lineChart" width="300" height="300"></canvas>
                </div>
                <div id="legends" class="chart-legend"></div>
                <script language="JavaScript"><!--
                  function displayLineChart() {
                  var ctx = document.getElementById("lineChart").getContext("2d");
                    var data = {
                        labels: {{ labels|safe }},
                        datasets: [
                            {
                                label: 'Número de entradas adquiridas por día',
                                fillColor: "rgba(255,255,255,0)",
                                strokeColor: "rgba(99, 25, 117,1)",
                                pointColor: "rgba(237, 240, 91,1)",
                                pointStrokeColor: "#000",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(0,0,0,1)",
                                data: {{ data }}
                            }
                        ]
                    };

                    var options = {
                        scaleFontColor: "#000",
                    };
                    var lineChart = new Chart(ctx).Line(data, options);
                    document.getElementById('legends').innerHTML = lineChart.generateLegend();
                  }

                  window.onload = displayLineChart();
                  --></script>


                </div>
            </div>
        </div>
    {% endblock %}
</div>
{% endblock %}