{% extends "freeketapp/base.html" %}
{% block title %}Gestionar eventos{% endblock %}

{% block contenido %}

<div class = "container contGestEvs">
    {% if mostrareventos == 'y'%}

    {% for e in eventos %}
    <div class="row">
        <div class="col-md-12 align-items-center">
            <div class="media position-relative mediaGestEvs">
              <img src="{{ e.img.url }}" class="mr-3" alt="Imagen del evento" width="100px">
              <div class="media-body">
                <a href="/evento/{{ e.url_id }}"><h5 class="mt-0">{{ e.titulo }}</h5></a>
                  <a href="{{ e.url_id }}/reader-salida"><button class="btn btn-outline-light btnGest ml-1 float-right"><img src="/media/m/ar-camera.png" width="20" />&nbspLeer entradas de salida</button></a>
                  <a href="{{ e.url_id }}/reader"><button class="btn btn-outline-light btnGest ml-1 float-right"><img src="/media/m/ar-camera.png" width="20" />&nbspLeer entradas</button></a>
                  <a href="{{ e.url_id }}"><button class="btn btn-outline-light btnGest ml-1 float-right">Gestionar</button></a>
              </div>
            </div>
        </div>
    </div>


    {% endfor %}

    {% else %}
    <h1>No has organizado ningun evento!</h1>
    {% endif %}
</div>
{% endblock %}