{% extends "freeketapp/gestionar_eventos_evento.html" %}

{% block pagina %}



<div class="col-md-10">
<div class="container contCrear">
    {% if errores is not None %}
    <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    {% for i in errores %}
        <li>{{ i }}</li>

    {% endfor %}
        </div>
    {% endif %}


    {% if publicado is not None %}
    <div class="alert alert-success" role="alert">
     Cambios realizados correctamente
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <form autocomplete="off" action="/gestionar-eventos/{{ id_evento }}/modificar/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input autocomplete="false" name="hidden" type="text" style="display:none;">
        <div class="form-group">
            <label for="tituloEvento"><strong>Cambia el título de tu evento *</strong></label>
            <input class="form-control {{ b_t }}" id="tituloEvento" name="tituloEvento" placeholder="Título" type="text"
                   value="{{ titulo }}">
        </div>
        <label for="customFile"><strong>Cambia la imagen de tu evento</strong></label>
        <div class="custom-file divImg">

            <label class="custom-file-label" for="customFile">Seleccionar imagen</label>
            <input type="file" name="imgEvento" id="customFile" class="custom-file-input {{ b_i }}" accept="image/x-png,image/jpeg" />

        </div>

        <div class="form-group">
                <label for="descripcion"><strong>Describe con todo detalle tu evento: *</strong></label>
                <textarea class="form-control {{ b_det }}" id="descripcion" name = "descripcion" rows="8" >{{ descripcion }}</textarea>
        </div>
        <div class="form-group">
            <label for="fechaEvento"><strong>Fecha del evento: *</strong></label>
            <input class="form-control {{ b_f }}" id="fechaEvento" name="fechaEvento"
                   placeholder="Haz clic para seleccionar la fecha"
                   type="text" value="{{ fecha }}">
        </div>
        <div class="form-group">
            <label for="horaEvento"><strong>Selecciona la hora del evento: *</strong></label>
            <input class="form-control {{ b_h }}" id="horaEvento" name="horaEvento" placeholder="Haz clic para determinar la hora"
                   type="text" value="{{ hora }}">
        </div>
        <div class="form-group">
            <label for="nEntradas"><strong>Número total de entradas disponibles actualmente: *</strong></label>
            <input class="form-control {{ b_n }}" id="nEntradas" name="nEntradas" placeholder="" type="text"
                   value="{{ nentradas }}">
        </div>

        <div class="form-group">
            <label for="ciudad"><strong>Ciudad: *</strong></label>
            <input class="form-control {{ b_ciu }}" id="ciudad" name="ciudad" placeholder="" type="text" value="{{ ciudad }}">
        </div>
        <div class="form-group">
            <label for="direccion"><strong>Dirección: *</strong></label>
            <input class="form-control {{ b_dir }}" id="direccion" name="direccion" placeholder="Ej. Calle Granada 5" type="text"
                   value="{{ direccion }}">
        </div>
        <div class="form-group">
            <label for="cpostal"><strong>Código postal: *</strong></label>
            <input class="form-control {{ b_cp }}" id="cpostal" name="cpostal" placeholder="" type="text" value="{{ cpostal }}">
        </div>

        <div class="form-group">
            <label for="nMaxEntradas"><strong>Número máximo de entradas que un usuario puede adquirir: *</strong></label>
            <select class="form-control {{ b_nmax }}" id="nMaxEntradas" name="nMaxEntradas">
                <option value="0">Sin límite</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <script>
            window.document.getElementById('nMaxEntradas').selectedIndex = {{ nmax }}

            </script>
        </div>

        <div class="form-group">
            <label for="notaInformativa"><strong>Puedes dejar una nota informativa que se enviará automáticamente a los asistentes al evento</strong></label>
            <textarea class="form-control {{ b_not }}" id="notaInformativa" name = "notaInformativa" rows="4"></textarea>
        </div>
        <small class="form-text text-muted" id="info">* Campos obligatorios.</small>
        <button class="btn btn-outline-light float-right btnOrg" id="btnCrearEvento" type="submit" >Modificar evento</button>
    </form>


</div>
</div>
{% endblock %}