{% extends "freeketapp/base.html" %}
{% block title %}Crea tu evento!{% endblock %}

{% block contenido %}

<div class="container">
    <form action={% url 'login' %} method="post">
{% csrf_token %}
    <input type="hidden" id="userType" name="user_type" value="assist">
    <div class="form-inline">
        <button class="btn btn-primary active" id="btnAsistente" type="button">Asistente</button>
        <button class="btn btn-primary" id="btnOrganizador"type="button">Organizador</button>
    </div>
    <input type="hidden" name="next" value="{{ request.GET.next }}">
        <div class="form-group">
            <label for="username">Nombre de usuario: </label>
            <input class="form-control" id="username" name="username"
                   type="text">
        </div>
        <div class="form-group">
            <label for="password">Contraseña: </label>
            <input class="form-control" id="password" name="password" type="password">
        </div>
        <small class="form-text text-muted"> <a href={% url 'forgot_password_form' %}>He olvidado la contraseña</a>.</small>

        {% if texto is not None %}
        <p>{{ texto }}</p>
        {% endif %}
        <button class="btn btn-primary float-right" type="submit">Iniciar sesión</button>
    </form>
</div>

{% endblock %}