{% extends "freeketapp/base.html" %}

{% block contenido %}
<div class="row rowStats">
    <div class="col-md-2 px-0 panelGest">


                <a href={% url 'mi_perfil' %}>
        <button class="btn btn-outline-light btnSide {{ m_active }}" style="width:100%"><strong>DATOS PERSONALES</strong></button>
                </a>

                <a href={% url 'reset_password' %}>
        <button class="btn btn-outline-light btnSide {{ r_active }}" style="width:100%"><strong>CAMBIAR CONTRASEÑA</strong></button>
                </a>

            {% if send == 'y' %}

                <a href={% url 'confirmar_email' %}>
        <button class="btn btn-outline-light btnSide {{ c_active }}" style="width:100%"><strong>CONFIRMACIÓN DE EMAIL</strong></button>
                </a>

            {% endif %}

            {% if profile == 'org' and not assist %}

                <a href={% url 'registro_asistente' %}>
        <button class="btn btn-outline-light btnSide {{ a_active }}" style="width:100%"><strong>REGÍSTRATE COMO ASISTENTE</strong></button>
                </a>

            {% elif profile == 'assist' and not org %}

                <a href={% url 'registro_organizador' %}>
                <button class="btn btn-outline-light btnSide {{ o_active }}" style="width:100%"><strong>REGÍSTRATE COMO ORGANIZADOR</strong></button>
                </a>

            {% endif %}


    </div>
        {% block pagina %}

    <div class="col-md-10">

        <div class="container contCrear">


            {% if texto is not None and texto != '' %}
             <div class="alert alert-success" role="alert">
             {{ texto }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% if errores is not None %}
            <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            {% for i in errores %}
                <li>{{ i }}</li>

            {% endfor %}
             </div>
            {% endif %}

            <form action={% url 'mi_perfil' %} method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre"><strong>Nombre: </strong></label>
                <input class="form-control" id="nombre" name="nombre"
                       type="text" value="{{ nombre }}">
            </div>
            <div class="form-group">
                <label for="apellido"><strong>Apellidos: </strong></label>
                <input class="form-control" id="apellido" name="apellido"
                       type="text" value="{{ apellido }}">
            </div>
            <div class="form-group">
                <label for="email"><strong>Email: *</strong></label>
                <input class="form-control" id="email" name="email"
                       type="email" value="{{ email }}">
            </div>
            <div class="form-group">
                <label for="password"><strong>Introduce tu contraseña para verificar los cambios: *</strong></label>
                <input class="form-control" id="password" name="password" type="password">
            </div>
            <small class="form-text text-muted">* Información obligatoria.</small>


            <button class="btn btn-outline-light float-right btnOrg" id="btnCrearEvento" type="submit">Modificar datos</button>
            </form>
        </div>


    </div>
            {% endblock %}
</div>
{% endblock %}