{% extends "freeketapp/base.html" %}
{% block title %}Organizador{% endblock %}

{% block contenido %}
<div class="container">

    <div class ="row">

        <div class="card col-md-6 cardOrg py-2" style="width:100%">
         <img class="card-img-top" src="/media/m/crear_evento.jpg" alt="Card image cap">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Organizar evento nuevo</h5>
              <p class="card-text text-justify">Organiza tu evento desde cero! Puedes incluir toda la información que necesites
                  para informar bien a tus asistentes y dotar a tu evento de elementos visuales, como puede ser una imagen.
                  Además, tendrás que indicar el número de entradas disponibles que desees y un número máximo de entradas que cada usuario podrá adquirir.</p>
              <a href={% url 'crear_evento' %} class="btn btn-outline-light mt-auto btnOrg stretched-link" >Organizar evento nuevo</a>
            </div>
        </div>
        <div class="card col-md-6 cardOrg py-2" style="width:100%">
            <img class="card-img-top" src="/media/m/gestionar.jpg" alt="Card image cap">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Gestionar eventos</h5>
              <p class="card-text text-justify">Consulta estadísticas acerca de tus eventos: cuántas visitas tienen, cómo evoluciona la adquisición de entradas...
                  Además, podrás enviar notificaciones a los asistentes, consultar una lista informativa con los usuarios que asisten a tus eventos y, por supuesto,
              modificar información acerca de tus eventos o incluso cancelarlos.</p>
              <a href={% url 'gestionar_eventos' %} class="btn btn-outline-light mt-auto btnOrg stretched-link" >Gestionar eventos</a>
            </div>
        </div>
    </div>
</div>

<div class="push"></div>
    </div>
    <footer class="bg-dark text-white footer">
        <div class="footer-copyright text-center py-2">© 2020
            <br>
            <strong>Creador: Alberto Angulo Lucerón</strong>
            <br>
            <small>Contacto: +34684004016 / verlsk2@gmail.com</small>
          </div>
    </footer>
{% endblock %}