{% extends "freeketapp/base.html" %}
{% block title %}{{ titulo }}{% endblock %}

{% block contenido %}

{% if listaespera == 'disabled' %}
<div class="alert alert-info" role="alert">
  Estás en lista de espera. Vuelve a pulsar el botón y te eliminaremos de ella
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% elif listaespera == 'anadido' %}
  <div class="alert alert-info" role="alert">
  Te hemos añadido a la lista de espera. Recibirás un email cuando haya entradas disponibles
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

{% elif listaespera == 'quitado' %}
<div class="alert alert-info" role="alert">
  Te hemos eliminado de la lista de espera
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% if profile == 'org' %}
    <div class="alert alert-danger" role="alert">
          Para adquirir entradas, cambia al perfil de asistente
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% elif mostrarcomprar != 'y' and adquiridas != 'y' %}
    <div class="alert alert-danger" role="alert">
         No puedes adquirir entradas, no hay entradas disponibles o ya ha finalizado. Si es el primer caso, puedes apuntarte a la lista de espera y te notificaremos cuando haya entradas disponibles.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

{% elif adquiridas == 'y' %}
<div class="alert alert-success" role="alert">
  Entradas adquiridas correctamente! Te hemos mandado un email por cada entrada, y,
    además, puedes consultarlas en el apartado <a href="{% url 'misentradas' %}">"Mis entradas"</a> de Freeket
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% elif errores is not None %}
<div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    {% for i in errores %}
        <li>{{ i }}</li>

    {% endfor %}


    </div>
{% endif %}

<div class = "container">
    <div class="jumbotron" id="jumboEvento">

        <div class="row">
            <div class="col-md-6">
                <h1 id ="titEvento">{{ titulo }}</h1>
                <h5 id="fechaEvento">{{ fecha }}</h5>
                <h6>{{ hora }}</h6>
                <br>
                <p>{{ direccion }}, {{ cpostal }}, {{ ciudad }}</p>
            </div>

            <div class="col-md-6">
                <img src="{{ img }}" width="100%">

            </div>
        </div>

        <div class="row" id="rowComprar">
            <div class="col-md-12">
        {% if mostrarcomprar == 'y' %}
            {% if islogged == 'y' %}
            <form action="/evento/{{ url_id }}/" method="post">
            {% else %}
            <form action="/login/?next=/evento/{{ url_id }}" %} method="post">
            {% endif %}

                {% csrf_token %}
                <input type="hidden" name="nameEvento" value="{{ titulo }}">
                <input type="hidden" name="idEvento" value="{{ url_id }}">
                <input id="nMaxInput" name="nMaxInput" type="hidden" value="{{ nmax }}">
                <div class="form-group">
                    <label for="nComprarEntradas">¿Cuántas entradas quieres?</label>
                    <select class="form-control" id="nComprarEntradas" name="nComprarEntradas">
                    </select>
                </div>
                {% if profile != 'org' %}
                <button class="btn btn-primary float-right" id="btnComprar" type="submit">Adquirir entradas</button>
                {% endif %}
            </form>
        {% endif %}
                {% if listaespera == 'y' or listaespera == 'quitado' %}
                    {% if islogged == 'y' %}
                    <form action={% url 'listaespera' %} method = "post">
                    {% csrf_token %}
                          <input type="hidden" name="idEventoLista" value="{{ url_id }}">
                          <button class="btn btn-outline-light btnOrg float-right" type="submit">Añádeme a la lista de espera</button>
                    </form>
                    {% endif %}

                {% elif listaespera == 'disabled' or listaespera == 'anadido' %}
                    {% if islogged == 'y' %}
                    <form action={% url 'quitarlista' %} method = "post">
                    {% csrf_token %}
                          <input type="hidden" name="idEventoLista" value="{{ url_id }}">
                            <button class="btn btn-outline-light btnOrg float-right" type="submit">Elimíname de la lista de espera</button>
                    </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="row" id="rowDescripcion">
            <div class="col-md-12">
            <br>
            <h4>Información acerca del evento</h4>
            </div>
            <div class="col-md-12 text-justify" id="colDescripcion">
                {{ descripcion|linebreaks }}
            </div>
        </div>
    </div>
</div>
{% endblock %}