{% extends "freeketapp/mi_perfil.html" %}


{% block pagina %}

<div class="col-md-10 contStats align-self-center">

<div class="container contCrear text-center">
        {% if errores %}
     <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>

         {{ errores }}
        </div>
    {% endif %}
    <form autocomplete="off" action={% url 'registro_organizador' %} method="post">
{% csrf_token %}
    <input autocomplete="false" name="hidden" type="text" style="display:none;">
        <div class="form-group">
            <label><strong>Dirección: *</strong></label>
                        <input class="form-control" name="orgDireccion"
                               type="text" value="{{ orgDireccion }}">
        </div>
            <button class="btn btn-outline-light btnOrg btn-lg" id="btnCrearEvento" type="submit">Registrar</button>
    </form>


</div>
</div>
{% endblock %}