{% extends "freeketapp/base.html" %}
{% block title %}Inicia sesión{% endblock %}

{% block contenido %}

{% if texto is not None and texto != '' %}
 <div class="alert alert-success" role="alert">
 {{ texto }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% if errores is not None %}
<div class="alert alert-danger" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
{% for i in errores %}
    <li>{{ i }}</li>

{% endfor %}
 </div>
{% endif %}
<div class="container contCrear">

    {% if showform %}
    <form autocomplete="off" action={% url 'registro' %} method="post">
    {% csrf_token %}
    <input autocomplete="false" name="hidden" type="text" style="display:none;">
    <div class="form-group">
        <label for="username"><strong>Nombre de usuario: *</strong></label>
        <input class="form-control" id="username" name="username"
               type="text" value="{{ username }}">
        <small class="form-text text-muted">Este será el identificador que utilices para acceder a la
            página.</small>
    </div>
    <label><strong>Rol: *</strong></label>
    <div class="form-inline">
        <button class="btn btn-outline-light btnOrg btnSideActive" id="btnAsistente" type="button">Asistente</button>
        <button class="btn btn-outline-light btnOrg" id="btnOrganizador"type="button">Organizador</button>
        <button class="btn btn-outline-light btnOrg" id="btnAmbos"type="button">Ambos</button>
    </div>
    <div class="d-none" id="infoOrg">
        <input type="hidden" id="userType" name="user_type" value="assist">
            <div class="form-group">
                <label><strong>Dirección: *</strong></label>
                <input class="form-control" name="orgDireccion"
                       type="text" value="{{ orgDireccion }}">
            </div>
    </div>
    <div class="form-group">

    </div>
    <div class="form-group">
        <label for="nombre"><strong>Nombre: </strong></label>
        <input class="form-control" id="nombre" name="nombre"
               type="text" value="{{ name }}">
    </div>
    <div class="form-group">
        <label for="apellido"><strong>Apellidos: </strong></label>
        <input class="form-control" id="apellido" name="apellido"
               type="text" value="{{ surname }}">
    </div>
    <div class="form-group">
        <label for="email"><strong>Email: *</strong></label>
        <input class="form-control" id="email" name="email"
               type="email" value="{{ email }}">
    </div>
    <div class="form-group">
        <label for="password"><strong>Contraseña: *</strong></label>
        <input class="form-control" id="password" name="password" type="password">
        <small class="form-text text-muted">Mínimo ocho caracteres</small>
    </div>
    <div class="form-group">
        <label for="repPassword"><strong>Repite la contraseña: *</strong></label>
        <input class="form-control" id="repPassword" name="repPassword" type="password">
    </div>
    <small class="form-text text-muted">* Información obligatoria.</small>
    <small class="form-text text-muted"> Al registrarte declaras aceptar los términos y condiciones de uso, así como
        la política de privacidad y la política de cookies.</small>

    <button class="btn btn-outline-light btnOrg float-right" id="crearEvento" type="submit">Registrar</button>
    </form>
    {% endif %}
</div>

{% endblock %}