{% extends "freeketapp/mi_perfil.html" %}


{% block pagina %}
<div class="container">
<form action={% url 'reset_password' %} method="post">
{% csrf_token %}

    <div class="form-group">
        <label for="oldpassword">Contraseña actual: </label>
        <input class="form-control" id="oldpassword" name="oldpassword" type="password">
    </div>
    <div class="form-group">
        <label for="password">Nueva contraseña: </label>
        <input class="form-control" id="password" name="password" type="password">
    </div>
    <div class="form-group">
        <label for="repPassword">Repite la nueva contraseña: *</label>
        <input class="form-control" id="repPassword" name="repPassword" type="password">
    </div>
    {% if texto is not None %}
    <p>{{ texto }}</p>
    {% endif %}
    <button class="btn btn-primary float-right" type="submit">Registrar</button>

</form>
</div>
{% endblock %}