{% extends "freeketapp/mi_perfil.html" %}


{% block pagina %}
<div class="col-md-10">
<div class="container contCrear">
    {% if texto is not None and texto != '' %}
             <div class="alert alert-success" role="alert">
             {{ texto }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% if errores is not None %}
            <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            {% for i in errores %}
                <li>{{ i }}</li>

            {% endfor %}
             </div>
            {% endif %}
<form autocomplete="off" action={% url 'reset_password' %} method="post">
{% csrf_token %}
    <input autocomplete="false" name="hidden" type="text" style="display:none;">
    <div class="form-group">
        <label for="oldpassword"><strong>Contraseña actual: </strong></label>
        <input class="form-control" id="oldpassword" name="oldpassword" type="password">
    </div>
    <div class="form-group">
        <label for="password"><strong>Nueva contraseña: </strong></label>
        <input class="form-control" id="password" name="password" type="password">
        <small class="form-text text-muted">Mínimo ocho caracteres</small>
    </div>
    <div class="form-group">
        <label for="repPassword"><strong>Repite la nueva contraseña: *</strong></label>
        <input class="form-control" id="repPassword" name="repPassword" type="password">
    </div>
     <button class="btn btn-outline-light btnOrg float-right" id="btnCrearEvento" type="submit">Cambiar contraseña</button>

</form>
</div>
</div>
{% endblock %}