{% extends "freeketapp/base.html" %}

{% block contenido %}

{% if eventos_total is not None %}
<div id ="jumboBusqueda">
        <div class="container contBus">

            <h1>Tus resultados:</h1>

            {% for eventos in eventos_total %}
            <div class="row">
            {% for evento in eventos %}
            <div class="card col-md-4 py-3 " style="width: 100%">
                <img class="card-img-top" src="{{ evento.img.url }}" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">{{ evento.titulo }}</h5>
                  <p class="card-text">{{ evento.fecha }}, {{ evento.hora }}</p>
                  <a href="/evento/{{ evento.url_id }}" class="btn btn-outline-light btnOrg mt-auto stretched-link" >Página del evento</a>
                </div>
              </div>

            {% endfor %}

            </div>
            {% endfor %}

        </div>
    </div>
{% else %}
<div class = "container contGestEvs">
    <h1>Tu búsqueda no ha producido ningún resultado</h1>
</div>
{% endif %}
{% endblock %}