html {
  height: 100%;
  margin: 0;
}

body {
  height: 90%;
  margin: 0;
  background-color: #faf5fc;
}
  .navbar .nav-item:hover .nav-link {
      color: #224367;
      background-color: #fcfcfc; /* add background-color to active links */
  }

  .navbar-dark .navbar-nav .nav-link {
      color: #fafaf4;
      font-family: 'Calibri';
      font-weight: bold;
  }
  .navbar {

      padding-top: 50;
      padding-bottom: 0;
  }

  .navbar-brand {
      margin-right: 30px;
      margin-left: 30px;
  }

  #busqueda{
      border-radius:2px;
    }

.navbar-collapse.collapsing,
.navbar-collapse.show
    .nav-item:hover .nav-link {
    color: #fcfcfc;
      background-color: transparent;

}
@media only screen and (max-width: 600px) {
  .navbar-brand {
   width: 60px;
   margin-left:2px;
   margin-right:60px;
  }
}


.navbar-custom {

    background-image: url("back6.png");
      background-repeat: no-repeat;
      background-size: cover; /* Resize the background image to cover the entire container */

  background-position: center; /* Center the image */
}
.dropdown-menu {
    background-image: url("back6.png")
}
.dropdown-item {
    color: #ffffff;
}


textarea{
  resize: none;
}

#btnOrganizador, #btnAmbos {
    margin-left:2px;
    margin-left:2px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
#jumboEvento {
    margin-top: 30px;
    border-style: solid;
    border-width: 5px;
    border-color: #360a4a;
    background-color: #FFFFFF;
}
#titEvento {
    border-bottom-style: groove;
  border-bottom-width: 2px;
  border-color: #6d1e8a;
  margin-bottom: 7px;
   font-family: "AvantGarde";
}

#btnComprar{
    background-color:#6d1e8a;
    border-color:#3d0c4f;
    margin-top:30px;
}
#rowComprar, #rowDescripcion {
    margin-top:30px;
}
#colDescripcion {
margin-top:15px;
}
.cardOrg {
    margin-top:30px;
}

.btnGest, .btnOrg, .btnSide {
    border-color:#3d0c4f;
    color: #6d1e8a;
}
.btnSide {
    padding-top: 15%;
    padding-bottom: 15%;
    border-bottom:0;
    border-top:0;
    border-right:0;
    font-size:17px;
}
.btnSide:hover, .btnSide:focus, .btnSideActive {

    background-color:#f2e6f7;
    color: #6d1e8a;
}
.btnOrg:hover, .btnOrg:focus, .btnGest:hover, .btnGest:focus {
    border-color:#3d0c4f;
    background-color:#6d1e8a;
    color: #ffffff
}
.mediaGestEvs {
    margin-bot:15px;
    margin-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #442d4f;
    background-color: #FFFFFF;
}
.contGestEvs {
    border-style: solid;
    border-width: 2px;
    border-color: #360a4a;
    margin-top:30px;
    background-color: #FFFFFF;
}
.btnGest {
    margin-bottom:10px;
}

.panelGest {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cdc1d4;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #442d4f;
}
canvas {
  width: 60%;
  height: 500px;
  display: inline;
}

#lineChart{
    background-color:#fff;
}
.rowStats {
    margin:0px;
}
.rowStats {

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cdc1d4;
}
.canvCont {
    text-align:center;
    margin-top:15px;
}
.divStat {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cdc1d4;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #442d4f;
    background-color:#fff;
}

.chart-legend span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.contCrear {
    margin-top:10px;

}
#btnCrearEvento{
    margin-bottom:20px;
}
.divImg {
    margin-bottom:10px;
}
.box-busqueda{background-color:#fff;width:100%;max-height:500px;overflow-y:scroll;border:1px solid #ccc;border-bottom-left-radius:4px;border-bottom-right-radius:4px;box-shadow:12px 14px 30px -7px #616161;border-top:0;margin-top:-3px;border-color:#66afe9}
.box-busqueda::-webkit-scrollbar{
  display: none;
}
#repl
.box-busqueda:hover{color:#fff}
.elemento-busqueda{padding:3px 5px 3px 4px;white-space:nowrap;cursor:pointer;color:purple;font-size:14px}
.elemento-busqueda:hover{color:#fff}
.image-busqueda{width:40px;height:40px;display:inline-block;vertical-align:middle;background-size:cover;background-position:50% 50%;margin-right:3px}
.text-busqueda {padding:0 5px;display:inline-block;font-weight:400}
.text-main-busqueda {color:black; display:block;margin-bottom:-1px;margin-top:-2px }
.elemento-busqueda:focus, .elemento-busqueda:hover .text-main-busqueda{}
.elemento-busqueda:hover {
background-color:#d1cfcf;
}

.contBus {
    margin-top:35px;
}

.btnExplora {

    background-color:#f5f5f5;
}
.contInicio {
    margin-top:50px;
}
.contCar {
    margin-top:15px;

}
.carousel {
    background-color:#fff;
    width:
}
.descCar {
    margin-bot:10px;
}
#btnCrearEvento2{
    margin-bottom:20px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {

  background-image:none;
}
.carousel-control-next-icon:after
{
    content:'>';
  font-size: 45px;
  color: purple;
}

.carousel-control-prev-icon:after {
content:'<';
  font-size: 45px;
  color: purple;
}
.titCar {
font-weight:bolder;
color:#40105e;
    padding-bottom:5px;
    border-bottom-style: groove;
  border-bottom-width: 2px;
  border-color: #562675;
  margin-bottom: 7px;
}
.textCar {
    font-family: "MS Gothic, Verdana, Times New Roman";
    margin-top:15px;
}
.contEventosIni {
margin-top:100px;
}
.btnLista {
    border-color:#e6e660;
    color: #491c61;
}
.divComprar {
    margin-top: 30px;
    padding-top:8px;
    border-top-style: solid;
    border-width: 1px;
    border-color: #360a4a;
    background-color: #FFFFFF;
}
.wrapper {
  padding-bottom: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}

.push {
  height: 50px;
}
.footer {
  height: 100px;
  background-color:purple;
}

@media only screen and (max-width: 600px) {
    .btnSide {
        padding-top:10px;
        padding-bottom:10px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #360a4a;
        font-size:15px;
    }
    canvas {
      width: 100%;
      height: 300px;
      display: inline;
    }
}

@media only screen and (min-width: 900px) {
    .btnSide {
        padding-top:10px;
        padding-bottom:10px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #360a4a;
        font-size:15px;
    }
    canvas {
      width: 100%;
      height: 300px;
      display: inline;
    }
    .btnCar{
   position:absolute;
   width:90%;
   bottom:30px;
}


}
